<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Создать заказы</h1>
    <form action="table" method="get" class="form-example">
         <div class="form-example">
            <label for="name">Enter your name: </label>
            <input type="text" name="name" id="name" required />
        </div>
        <div class="form-example">
            <label for="phone number">Enter your phone number: </label>
            <input type="phone number" name="phone number" id="phone number" required />
        </div>
        <div class="form-example">
            <label for="password">Enter your password: </label>
            <input type="password" name="password" id="password" required />
        </div>
    <input type="submit" value="Заказать" />
  </div>
</form>
<style>
    body{
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        }
</style>
</body>
</html>